<app-header></app-header>
<div class="dashboard-container">
    <div class="dashboard">
        <div class="card red">
            <div class="card-content">
                <i class="fas fa-users card-icon"></i>
                <div class="card-text">
                    <h3>Total de usuarios</h3>
                    <p>12,234</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <i class="fas fa-users card-icon"></i>
                <div class="card-text">
                    <h3>Total de usuarios</h3>
                    <p>12,234</p>
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div> <!-- Espacio en blanco a la derecha -->
</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Correos</th>
                <th>Teléfono</th>
                <th>Fecha de nacimiento</th>
                <th>Roles</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Nombres</td>
                <td>Correos</td>
                <td>Teléfono</td>
                <td>10/10/2000</td>
                <td>Rol</td>
                <td><button class="delete-button">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>